<IfModule mod_rewrite.c>
	RewriteEngine On

	# Redireccion a www
	RewriteCond %{HTTP_HOST} ^alergant.es
	RewriteRule ^ http://www.alergant.es%{REQUEST_URI} [L,R=301]

	RewriteCond %{HTTP_HOST} ^alergant.com
	RewriteRule ^ http://www.alergant.es%{REQUEST_URI} [L,R=301]
	
	RewriteCond %{HTTP_HOST} ^www.alergant.com
	RewriteRule ^ http://www.alergant.es%{REQUEST_URI} [L,R=301]
</IfModule>
